*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: row;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}



.container{
    position: relative;

    height:calc(100vh - 80px);
    width: 80%;
    margin: 0 auto;
    
}

nav{
    width: 200px;
    background-color:black;
    height:calc(100vh - 80px);
    
}



ul{
    list-style-type: none;
    color: #565656;
    margin: 1rem 0;
}

#logo{
    width:70%;
    margin: 1rem 0 .5rem 0;
}
nav i{
    font-size: 1.4rem;
}

nav span{
    font-size: 0.9rem;
    display: inline-block;
    vertical-align:middle;
    font-weight: 700;
    
    
}

nav li{
    margin: 0.5rem 0;
}

.playlist h2{
    color: white;
    font-size: 1rem;
}

.playlist i{
    font-size: 2.4rem;
    color: #a3a3a3;
}

.playlist li{
    font-size: 0.8rem;
    font-weight: 700;
}

/* INFERIOR NAVBAR*/

.inferior{
    color: white;
    position: absolute;
    bottom: 1%;
    width: 100%;
    
}

.inferior img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #a3a3a3;
}

.inferior :first-of-type{
    color: #565656;
    font-size:0.8rem;
}

.inferior hr{
    margin: .5rem 0;
}

.inferior img{
    vertical-align: middle;
}

/* HIDDEN NAVBAR */
.mobile-nav{
    display: none;

}


/*CONTENTS*/

.content{
    width: calc(100% - 200px);
    background-color: #141922;
    height: calc(100vh - 80px);
   
    overflow-y: auto;
    overflow-x: hidden;
}

.container-content{
    width: 98%;
    margin: 0 auto;
}

.album{
    display: flex;
    gap: 0.5rem;  
     flex-wrap: wrap; 
}

.square img{
    width:100% ;
    margin-bottom: 0.5rem;
}
.square{
    width:calc((100%/6) - .5rem);
    text-align: center;
    position: relative;
}

h2{
    color: white;
    font-size: 1rem;
    line-height: 0.9rem;
}

.content span{
    font-size: 0.7rem;
    color: gray;
}

.content h1{
    color: white;
    margin: 1rem 0;
    font-size: 1.6rem;
}

.button-play{
    position: absolute;
    top: 25%;
    left: 34%;
    display:none;
}

.button-play i{
    font-size: 4.5rem;
    color: white;
}

/* UPGRADE SECTION */
.upgrade{
    background-color: #080b12;
    padding: 2rem 0.2rem;
    text-align: end;
}

.upgrade button{
    text-transform: uppercase;
    background-color:#080b12;
    border: white solid 2px;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*MIX SECTION*/ 

.mix h1{
    margin: 1rem 0 0.2rem 0;
}

.mix .title {
    margin-bottom: 1.5rem;
}

/* MOST POPULAR */

.most-popular h1{
    margin: 1rem 0 0.2rem 0;
}

.most-popular .title {
    margin-bottom: 1.5rem;
}

.most-popular img{
    border-radius: 50%;
}

/*FOOTER */

footer{
    background-color: #282828;
    height: 80px;   
}

.container-footer{
    width: 98%;
    margin: 0 auto;
    height: 80px;
}

footer img{
    width: 45px;
}

footer ul{
    display: flex;
    gap: 1rem;
    align-items: center;
}

footer>div{
    display:flex;
    justify-content: space-between;
}

.player{
    display: flex;
    flex-direction: column;
    color:white
}

.upper{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.bigplay{
    font-size: 1.5rem;
}

.down{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}
.right-footer{
    display: flex;
    align-items: center;
    color: white;
}

div.line div{
    width: 300px;
    height: 4px;
    background-color: gray;
    border-radius: 10px;
}

div.line .line-active{
    width: 35%;
    background-color: white;
}

.line-vol{
    height: 4px;
    width: 100px;
    background-color: gray;
    border-radius: 10px;
}
.active-vol{
    width: 55%;
    background-color:white;
    height: 4px;
}


footer h5{
    color: white;
}

nav li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}








@media screen and (max-width:992px) {

    .square{
        width:calc((100%/4) - .5rem);
    }
}

@media screen and (max-width:768px) {
    .square{
        width: calc((100% / 2) - .5rem);
    }
    
    div.line div{
        width: 200px;
    }
}

@media screen and (max-width:576px)
{
   
    .hidden{
        display: none;
    }

    .mobile-nav{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .mobile-nav img {
        width: 100%;
    }

    nav{
        width: 50px;
    }

    .inferior {
        color: white;
        position: absolute;
        bottom: 3%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .inferior hr{
        display: none;
    }

    .content{
        width: calc(100% - 50px);
    }

    footer{
    font-size: .8rem;
    }

    div.line div{
        width: 100px;
    }

}



/*HOVER */

nav span:hover{
    color: white;
}

.playlist li:hover{
    color: white;
}

.inferior :first-of-type:hover{
    color: white;
}


.functionality:hover .button-play{
    display:inline;
  }
.functionality:hover img{
    filter: opacity(60%);
}

.upgrade button:hover{
    transform: scale(120%);
  }

.left-footer li:hover{
    color: white;
}

.bigplay:hover{
    transform: scale(125%);
}

div.line .line-active:hover {
    background-color: lawngreen
}

.active-vol:hover{
    background-color: lawngreen;
}